notification-mcp/src/main/mule/notification-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                         http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                         http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <!-- MCP Health Check Flow -->
    <flow name="health-check-flow" doc:name="health-check-flow">
        <http:listener doc:name="Health Check Listener" 
                      config-ref="HTTP_Listener_config" 
                      path="/mcp/health"/>
        <set-payload value='{"status": "UP", "service": "notification-mcp-server", "version": "1.0.0", "timestamp": "#[now()]"}' doc:name="Set Health Response" mimeType="application/json"/>
        <logger level="DEBUG" doc:name="Health Check Log" message="Health check request received"/>
    </flow>

    <!-- MCP Notification API Flow -->
    <flow name="mcp-notification-api-flow" doc:name="mcp-notification-api-flow">
        <http:listener doc:name="MCP API Listener" 
                      config-ref="HTTP_Listener_config" 
                      path="/mcp/notification/*" 
                      allowedMethods="POST,GET"/>
        
        <choice doc:name="Route by Method and Path">
            <!-- Send Mock Notification -->
            <when expression="#[attributes.method == 'POST' and attributes.requestPath contains '/send-email']">
                <set-variable doc:name="Store Original Payload" variableName="originalPayload" value="#[payload]"/>
                
                <logger level="INFO" doc:name="Mock Email Logger" 
                       message="Mock Email - To: #[payload.to], Subject: #[payload.subject], Body: #[payload.body]"/>
                
                <db:insert doc:name="Log Email to DB" config-ref="Database_Config">
                    <db:sql>INSERT INTO notification_logs (type, recipient, subject, message, status, created_at) 
                            VALUES ('EMAIL', :recipient, :subject, :message, 'SENT', NOW())</db:sql>
                    <db:parameter-types>
                        <db:parameter-type key="recipient" type="VARCHAR"/>
                        <db:parameter-type key="subject" type="VARCHAR"/>
                        <db:parameter-type key="message" type="CLOB"/>
                    </db:parameter-types>
                    <db:input-parameters>
                        #[{
                            'recipient': vars.originalPayload.to,
                            'subject': vars.originalPayload.subject,
                            'message': vars.originalPayload.body
                        }]
                    </db:input-parameters>
                </db:insert>
                
                <set-payload value='{"status": "success", "message": "Mock email logged successfully", "recipient": "#[vars.originalPayload.to]"}' 
                           doc:name="Success Response" mimeType="application/json"/>
            </when>
            
            <!-- Get Notification History -->
            <when expression="#[attributes.method == 'GET' and attributes.requestPath contains '/history']">
                <db:select doc:name="Get Notification History" config-ref="Database_Config">
                    <db:sql>SELECT * FROM notification_logs ORDER BY created_at DESC LIMIT 50</db:sql>
                </db:select>
                <set-payload value="#[payload]" doc:name="Set History Response" mimeType="application/json"/>
            </when>
            
            <!-- MCP Server Info -->
            <when expression="#[attributes.method == 'GET' and attributes.requestPath contains '/info']">
                <set-payload value='{
                    "name": "notification-mcp-server",
                    "version": "1.0.0",
                    "protocolVersion": "2024-11-05",
                    "capabilities": {
                        "tools": [
                            {
                                "name": "send_email",
                                "description": "Send email notifications",
                                "inputSchema": {
                                    "type": "object",
                                    "properties": {
                                        "to": {"type": "string"},
                                        "subject": {"type": "string"},
                                        "body": {"type": "string"}
                                    },
                                    "required": ["to", "subject", "body"]
                                }
                            }
                        ]
                    }
                }' doc:name="MCP Info Response" mimeType="application/json"/>
            </when>
            
            <otherwise>
                <set-payload value='{"error": "Not Found", "message": "Invalid endpoint or method"}' 
                           doc:name="Not Found Response" mimeType="application/json"/>
                <set-variable doc:name="Set 404 Status" variableName="httpStatus" value="404"/>
            </otherwise>
        </choice>
        
        <logger level="INFO" doc:name="Request Logger" 
               message="MCP Notification API: #[attributes.method] #[attributes.requestPath]"/>
    </flow>

</mule>
