asset-allocation-mcp/src/main/mule/asset-allocation-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
                         http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
                         http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd">

    <!-- MCP Health Check Flow -->
    <flow name="health-check-flow" doc:name="health-check-flow">
        <http:listener doc:name="Health Check Listener" 
                      config-ref="HTTP_Listener_config" 
                      path="/mcp/health"/>
        <set-payload value='{"status": "UP", "service": "asset-allocation-mcp-server", "version": "1.0.0", "timestamp": "#[now()]"}' doc:name="Set Health Response" mimeType="application/json"/>
        <logger level="DEBUG" doc:name="Health Check Log" message="Health check request received"/>
    </flow>

    <!-- MCP Asset Allocation API Flow -->
    <flow name="mcp-asset-api-flow" doc:name="mcp-asset-api-flow">
        <http:listener doc:name="MCP API Listener" 
                      config-ref="HTTP_Listener_config" 
                      path="/mcp/asset/*" 
                      allowedMethods="POST,GET,PUT,DELETE"/>
        
        <choice doc:name="Route by Method and Path">
            <!-- Create Asset Allocation -->
            <when expression="#[attributes.method == 'POST' and attributes.requestPath contains '/allocate']">
                <set-variable doc:name="Store Original Payload" variableName="originalPayload" value="#[payload]"/>
                
                <db:insert doc:name="Create Asset Allocation" config-ref="Database_Config">
                    <db:sql>INSERT INTO asset_allocations (employee_id, asset_type, asset_name, serial_number, allocation_date, status, created_at) 
                            VALUES (:employee_id, :asset_type, :asset_name, :serial_number, :allocation_date, 'ALLOCATED', NOW())</db:sql>
                    <db:parameter-types>
                        <db:parameter-type key="employee_id" type="INTEGER"/>
                        <db:parameter-type key="asset_type" type="VARCHAR"/>
                        <db:parameter-type key="asset_name" type="VARCHAR"/>
                        <db:parameter-type key="serial_number" type="VARCHAR"/>
                        <db:parameter-type key="allocation_date" type="DATE"/>
                    </db:parameter-types>
                    <db:input-parameters>
                        #[{
                            'employee_id': vars.originalPayload.employee_id,
                            'asset_type': vars.originalPayload.asset_type,
                            'asset_name': vars.originalPayload.asset_name,
                            'serial_number': vars.originalPayload.serial_number,
                            'allocation_date': vars.originalPayload.allocation_date
                        }]
                    </db:input-parameters>
                </db:insert>
                
                <set-payload value='{"status": "success", "message": "Asset allocated successfully", "employee_id": "#[vars.originalPayload.employee_id]"}' 
                           doc:name="Success Response" mimeType="application/json"/>
            </when>
            
            <!-- Get Asset Allocations -->
            <when expression="#[attributes.method == 'GET' and attributes.requestPath contains '/allocations']">
                <db:select doc:name="Get Asset Allocations" config-ref="Database_Config">
                    <db:sql>SELECT * FROM asset_allocations ORDER BY created_at DESC</db:sql>
                </db:select>
                <set-payload value="#[payload]" doc:name="Set Allocations Response" mimeType="application/json"/>
            </when>
            
            <!-- Get Employee Assets -->
            <when expression="#[attributes.method == 'GET' and attributes.requestPath contains '/employee']">
                <set-variable doc:name="Extract Employee ID" variableName="employeeId" value="#[attributes.queryParams.employee_id]"/>
                <db:select doc:name="Get Employee Assets" config-ref="Database_Config">
                    <db:sql>SELECT * FROM asset_allocations WHERE employee_id = :employee_id</db:sql>
                    <db:parameter-types>
                        <db:parameter-type key="employee_id" type="INTEGER"/>
                    </db:parameter-types>
                    <db:input-parameters>
                        #[{'employee_id': vars.employeeId}]
                    </db:input-parameters>
                </db:select>
                <set-payload value="#[payload]" doc:name="Set Employee Assets Response" mimeType="application/json"/>
            </when>
            
            <!-- MCP Server Info -->
            <when expression="#[attributes.method == 'GET' and attributes.requestPath contains '/info']">
                <set-payload value='{
                    "name": "asset-allocation-mcp-server",
                    "version": "1.0.0",
                    "protocolVersion": "2024-11-05",
                    "capabilities": {
                        "tools": [
                            {
                                "name": "allocate_asset",
                                "description": "Allocate asset to employee",
                                "inputSchema": {
                                    "type": "object",
                                    "properties": {
                                        "employee_id": {"type": "integer"},
                                        "asset_type": {"type": "string"},
                                        "asset_name": {"type": "string"},
                                        "serial_number": {"type": "string"},
                                        "allocation_date": {"type": "string"}
                                    },
                                    "required": ["employee_id", "asset_type", "asset_name", "serial_number"]
                                }
                            },
                            {
                                "name": "get_employee_assets",
                                "description": "Get assets allocated to employee",
                                "inputSchema": {
                                    "type": "object",
                                    "properties": {
                                        "employee_id": {"type": "integer"}
                                    },
                                    "required": ["employee_id"]
                                }
                            }
                        ]
                    }
                }' doc:name="MCP Info Response" mimeType="application/json"/>
            </when>
            
            <otherwise>
                <set-payload value='{"error": "Not Found", "message": "Invalid endpoint or method"}' 
                           doc:name="Not Found Response" mimeType="application/json"/>
                <set-variable doc:name="Set 404 Status" variableName="httpStatus" value="404"/>
            </otherwise>
        </choice>
        
        <logger level="INFO" doc:name="Request Logger" 
               message="MCP Asset API: #[attributes.method] #[attributes.requestPath]"/>
    </flow>

</mule>
